* {
    /* border: 2px solid black; */
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 95vw;
    height: 95vh;
}


#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 4fr;
    padding: 10px;
    gap: 40px;
    background-color: red;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
}

#content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: lightgray;
}

#title {
    display: flex;
    align-items: center ;
}

#title-text {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

#title-icon {
    width: 45px;
    height: 45px;
}

#main-menu {
    display: grid;
    align-items: start;
    gap: 5px;
}

#misc-menu {
    display: grid;
    align-items: start;
    gap: 5px;
}

.menu-icon {
    width: 30px;
    height: 30px;
}

.menu-item {
    display: flex;
    align-items: center;
}
.menu-text {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    box-shadow: 0 5px 5px blue;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
}

#search-icon {
    width: 25px;
    height: 25px;
}

#search-bar {
    width: 90%;
    height: 25px;
    background-color: lightgray;
    border-radius: 20px;
}

#corner {
    display: grid;
    grid-template-columns: 40px 40px 200px;
    align-items: center;
    justify-content: end;
    padding-left: 20%;
    gap: 20px;
}
#username.small {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}

#notification , #avatar-small {
    height: 40px;
    width: 40px;
}

#user-panel {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 3fr;
}

#avatar-large {
    grid-area: 1 / 1 / 3 / 2;
}

#greeting {
    font-weight: bold;
}

#username.large {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: bold;

}

#media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    align-items: center;
}

.button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    height: 30px;
}

#content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#projects {
    grid-area: 1 / 1 / 3 / 2;
    padding: 10px;
}

#project-content {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.project-card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    border-left: 7px inset #f87171;
}

.card-icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.icon {
    width: 40px;
    margin-inline: 10px;
}